[submodule "blog/themes/cactus"]
	path = blog/themes/cactus
	url = git@github.com:kail/hugo-theme-cactus.git
[submodule "vendor/fw/STM32CubeL1"]
	path = vendor/fw/STM32CubeL1
	url = git@github.com:STMicroelectronics/STM32CubeL1.git
[submodule "vendor/fw/printf"]
	path = vendor/fw/printf
	url = git@github.com:eyalroz/printf.git
