[submodule "blog/themes/cactus"]
	path = blog/themes/cactus
	url = git@github.com:kail/hugo-theme-cactus.git
[submodule "vendor/fw/STM32CubeL1"]
	path = vendor/fw/STM32CubeL1
	url = git@github.com:STMicroelectronics/STM32CubeL1.git
[submodule "vendor/fw/printf"]
	path = vendor/fw/printf
	url = git@github.com:eyalroz/printf.git
[submodule "vendor/fw/lis2dh12"]
	path = vendor/fw/lis2dh12
	url = git@github.com:STMicroelectronics/lis2dh12.git
[submodule "vendor/fw/tinyusb"]
	path = vendor/fw/tinyusb
	url = git@github.com:hathach/tinyusb.git
